# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Flask instance folder
instance/

# Model files
models/
*.h5
*.pt
*.ckpt
*.pkl

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
