# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Flask uploads folder
uploads/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Byte-compiled / temporary files
*.swp
*.tmp

# Git itself
.gitignore
